---
layout: default
title: Mike Andrianov | Software developer
header: index
---

{% for post in site.posts %}
  <article class="container">
    <a href={{ post.url }}>
      <h1>{{ post.title }}</h1>
      <p>{{ post.excerpt }}</p>
    </a>
  </article>
{% endfor %}

{% for featured_post in site.data.featured_posts %}
  <article class="container">
    <a href={{ featured_post.link }}>
      <h1>{{ featured_post.title }}</h1>
      <p>{{ featured_post.excerpt }}</p>
    </a>
  </article>
{% endfor %}

<div class="container wide-button">
  <a href="/blog" class="button button-outline button-large">more</a>
</div>
